src/main/resources/xml/contractor_xsd.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Contractor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contractorId" type="xs:int"/>
                <xs:element name="contractorName" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="phoneNumber" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>